extends admin_layout

block content
    .container
        h2 ▶ News 상세보기
        br
        br
        .row(style='width: 80%; margin: auto;')
            form(method='post')
                table.table.table-bordered
                    tr
                        th(style='text-align: center;background-color: #F8F4EC;width:20%;') 글번호
                        td(style='text-align: center; width:30%;')= news.idx
                        th(style='text-align: center;background-color: #F8F4EC;') 작성일
                        td(style='text-align:center;')
                            = moment(news.date).format("YYYY/MM/DD hh:mm:ss")
                    tr
                        th(style='text-align: center;background-color: #F8F4EC;') 작성자
                        td(colspan='3')= news.writer
                    tr
                        th(style='text-align: center;background-color: #F8F4EC;') 제목
                        td(colspan='3')= news.title
                    tr
                        th(style='text-align: center; background-color: #F8F4EC;') 글내용
                        td(colspan='3')
                            each line in news.content.split(/\n/)
                                = line
                                br
                br
                .col-md-offset-9
                    a.btn.btn-danger.btn-lg(href='/admin/news/delete/'+ news.idx) 삭제
                    a.btn.btn-success.btn-lg(href='/admin/news/edit/'+ news.idx) 수정
                    a.btn.btn-default.btn-lg(href='/admin/news') 목록