footer
  .container
    a.scrollpoint.sp-effect3(href='#')
      img.logo(src='/images/logo.png', alt='')
    div(style='color: #FFFFFF') 서울시 서초구 양재동 3-13 번지 SKYAutoNet
    .rights
      | Copyright © 2014Template by
      a(href='http://www.scoopthemes.com/', target='_blank') ScoopThemes